<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyboardManagement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22EF33CD1BAE9C69006CC661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EF33E11BAE9C69006CC661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EF33EC1BAE9C69006CC661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
